# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# env
.env
.env.local
.env.production.local

# vercel
.vercel

# debug
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# turbo
.turbo

# firecrawl scrape data
.firecrawl/

.vercel
